/* App.css */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
}

.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.sidebar-header {
  padding: 20px;
  text-align: center;
}

.logo {
  width: 60%;
  height: auto;
  border-radius: 50%;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar-menu li {
  width: 100%;
}

.sidebar-menu a {
  text-decoration: none;
  color: #e0e0e0;
  padding: 10px 20px;
  display: block;
  border-left: 4px solid transparent;
  transition: all 0.3s ease;
}

.sidebar-menu a.active,
.sidebar-menu a:hover {
  background-color: #333333;
  border-left-color: #007bff;
}

.sidebar-settings {
  margin-top: auto; /* Push this container to the bottom */
  width: 100%;
  text-align: center;
}

.sidebar-settings a {
  text-decoration: none;
  color: #e0e0e0;
  padding: 10px 20px;
  display: block;
  border-left: 4px solid transparent;
  transition: all 0.3s ease;
}

.sidebar-settings a.active,
.sidebar-settings a:hover {
  background-color: #333333;
  border-left-color: #007bff;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
}

.card {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  color: #bbb;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #333333;
  color: #e0e0e0;
  font-size: 1rem;
}

.input-group select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #333333;
  color: #e0e0e0;
  font-size: 1rem;
}

.sens-group {
  display: flex;
  flex-direction: row;
  margin-right: -20px;
}

.sens-group label{
  display: block;
  margin-bottom: 8px;
  color: #bbb;
}

.sens-group input {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #333333;
  color: #e0e0e0;
  font-size: 1rem;
}

input:focus {
  outline: none;
  border-color: #007bff;
}

.info-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.info-icon {
  font-size: 24px;
  color: #007bff;
  cursor: pointer;
}

.info-icon:hover {
  color: #0056b3;
}

.tooltip-box {
  max-width: 300px; /* Adjust as needed */
  word-wrap: break-word;
  white-space: pre-wrap; /* Ensures the text is wrapped correctly */
}

.main-container {
  padding-right: 20px;
}

.fov-group {
  display: flex;
  justify-content: space-between;
}

.fov-group .input-group {
  flex: 1;
  max-width: 90px;
}

.fov-group .input-group:last-child {
  margin-right: 0;
}

.fov-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.fov-box label {
  margin-bottom: 5px;
}

.fov-box span {
  display: inline-block;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  text-align: center;
  border-radius: 5px;
}

.limits-group {
  display: flex;
  justify-content: space-between;
  max-width: 340px;
}

.limits-group .input-group {
  flex: 1;
  max-width: 40%;
}

.keybind-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.keybind-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  max-width: 300px;
}

.keybind-button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  width: 40%;
  height: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.keybind-button:hover {
  background-color: #0056b3;
}

.keybind-button:focus {
  outline: none;
}

.current-keybind {
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  background-color: #333;
  color: #e0e0e0;
  text-align: center;
  font-size: 1rem;
  width: 100%;
  max-width: 300px;
}

.slider {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}
.slider label {
  display: block;
  margin-bottom: 10px;
  color: #e0e0e0;
}

.slider input[type="range"] {
  width: 80%;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.button-container button {
  width: 50%;
}